<nav *ngIf="isLoggedIn">
  <ul class="nav-ul">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="" [skipLocationChange]="skipLocationChange">{{langService.langKey.home | translate:langService.lang}}</li>
    <li routerLinkActive="active" routerLink="/product" [skipLocationChange]="skipLocationChange">{{langService.langKey.productList | translate:langService.lang}}</li>
    <li routerLinkActive="active" routerLink="/order" [skipLocationChange]="skipLocationChange">{{langService.langKey.orderList | translate:langService.lang}}</li>
    <li routerLinkActive="active" routerLink="/test" [skipLocationChange]="skipLocationChange">{{langService.langKey.test | translate:langService.lang}}</li>
    <li (click)="onLogOut()">{{langService.langKey.logout | translate:langService.lang}}</li>
  </ul>
</nav>
