.nav-ul{
  display: inline-block;
  li{
    border: none;
    list-style: none;
    cursor: pointer;
    &:active{
      border: none;
    }
  }
  .active-menu{
    background-color: blue;
    color: #fff;
  }
}
